//button color
$button__color: #998675;
$button__hover: #362f2d;
$button__shadow: inset 0px -3px 0 0 #736357;
$shadow__hover: inset 0px -3px 0 0 #272322;

//text
$hover__color: #c7b299;

//font
$second__font: 'Raleway', sans-serif;

//other
$animation__time: ease-in-out 0.4s;
$gradient: linear-gradient(to right, #211b19, #4e3427);
$gradient__burger: linear-gradient(to right, #373636, #666661);